# Entorno virtual
.venv/
venv/

# Archivos de caché
__pycache__/
*.pyc
*.pyo

#datos
data

# Archivos de instalación
.Python
pip-log.txt
pip-delete-this-directory.txt

#credenciales
src/db_conexion.py







